<section class="skills" id="skills">
  <div class="container">
    <div class="skills__header">
      <h2 class="skills__title">
        <span>{{ 'skills.title' | translate }}</span>
      </h2>
      <p class="skills__intro">{{ 'skills.intro' | translate }}</p>
      <button type="button" class="skills__hint" [class.skills__hint--peeled]="peeled" (click)="togglePeel()">
        <span class="skills__hint-corner" aria-hidden="true"></span>
        {{ 'skills.peelHint' | translate }}
      </button>
    </div>

    <ul class="skills__grid" [class.skills__grid--revealed]="peeled">
      @for (skill of skills; track skill) {
        <li>
          <img
            class="skills__icon"
            [class.skills__icon--grey]="!isColored(skill)"
            [src]="'/img/' + skill + '.svg'"
            [alt]="skill"
          />
          <span>{{ skill }}</span>
        </li>
      }
    </ul>
  </div>

  <div class="torn-edge torn-edge--bottom" aria-hidden="true"></div>
</section>
