<section class="legal container">
  @if (language() === 'de') {
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 DDG</p>

    <p>
      Lucas Lohmann<br />
      Ribnitzer Straße 19<br />
      13051 Berlin
    </p>

    <p>
      <strong>Vertreten durch:</strong><br />
      Lucas Lohmann
    </p>

    <p>
      <strong>Kontakt:</strong><br />
      Telefon: +49 159 01820335<br />
      E-Mail:
      <a href="mailto:lucas.lohmann.berlin&#64;gmail.com">lucas.lohmann.berlin&#64;gmail.com</a>
    </p>

    <h2>Verbraucherstreitbeilegung / Universalschlichtungsstelle</h2>
    <p>
      Wir nehmen nicht an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil und
      sind dazu auch nicht verpflichtet.
    </p>

    <h2>Haftungsausschluss</h2>

    <h3>Haftung für Inhalte</h3>
    <p>
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
      Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
      Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene Inhalte auf diesen Seiten nach den
      allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
      Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
      Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
      hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
      einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
      Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    </p>

    <h3>Haftung für Links</h3>
    <p>
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss
      haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die
      Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
      Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
      erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
      Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
      werden wir derartige Links umgehend entfernen.
    </p>

    <h3>Urheberrecht</h3>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
      deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
      Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
      jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten,
      nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber
      erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter
      als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam
      werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
      werden wir derartige Inhalte umgehend entfernen.
    </p>

    <p>
      Impressum von
      <a href="https://impressum-generator.de" rel="noopener noreferrer" target="_blank"
        >Impressum-Generator.de</a
      >. Powered by
      <a href="https://www.kanzlei-hasselbach.de/" rel="noopener noreferrer" target="_blank"
        >Franziska Hasselbach, Bonn</a
      >.
    </p>
  } @else {
    <h1>Imprint</h1>
    <p>Information according to § 5 DDG</p>

    <p>
      Lucas Lohmann<br />
      Ribnitzer Straße 19<br />
      13051 Berlin
    </p>

    <p>
      <strong>Represented by:</strong><br />
      Lucas Lohmann
    </p>

    <p>
      <strong>Contact:</strong><br />
      Phone: +49 159 01820335<br />
      Email:
      <a href="mailto:lucas.lohmann.berlin&#64;gmail.com">lucas.lohmann.berlin&#64;gmail.com</a>
    </p>

    <h2>Consumer dispute resolution / Universal arbitration board</h2>
    <p>
      We do not take part in dispute resolution proceedings before a consumer arbitration board and
      are not obliged to do so.
    </p>

    <h2>Disclaimer</h2>

    <h3>Liability for content</h3>
    <p>
      The content of our pages has been created with the greatest care. However, we cannot guarantee
      that the content is accurate, complete, or up to date. As a service provider, we are
      responsible for our own content on these pages under general law pursuant to § 7 (1) DDG.
      According to §§ 8 to 10 DDG, we are not obliged as a service provider to monitor transmitted or
      stored third-party information or to investigate circumstances that indicate illegal activity.
      Obligations to remove or block the use of information under general law remain unaffected. Any
      liability in this respect is only possible from the time we become aware of a specific legal
      infringement. Upon becoming aware of such infringements, we will remove this content
      immediately.
    </p>

    <h3>Liability for links</h3>
    <p>
      Our offer contains links to external third-party websites over whose content we have no
      influence. Therefore, we cannot assume any liability for this third-party content. The
      respective provider or operator of the linked pages is always responsible for their content.
      The linked pages were checked for possible legal violations at the time of linking. Illegal
      content was not recognizable at the time of linking. Permanent monitoring of the content of
      linked pages is not reasonable without concrete evidence of a legal violation. Upon becoming
      aware of legal violations, we will remove such links immediately.
    </p>

    <h3>Copyright</h3>
    <p>
      The content and works created by the site operators on these pages are subject to German
      copyright law. Reproduction, editing, distribution, and any kind of use outside the limits of
      copyright law require the written consent of the respective author or creator. Downloads and
      copies of this site are only permitted for private, non-commercial use. Where content on this
      site was not created by the operator, third-party copyrights are respected. In particular,
      third-party content is marked as such. Should you still become aware of a copyright
      infringement, please notify us accordingly. Upon becoming aware of legal violations, we will
      remove such content immediately.
    </p>

    <p>
      Imprint from
      <a href="https://impressum-generator.de" rel="noopener noreferrer" target="_blank"
        >Impressum-Generator.de</a
      >. Powered by
      <a href="https://www.kanzlei-hasselbach.de/" rel="noopener noreferrer" target="_blank"
        >Franziska Hasselbach, Bonn</a
      >.
    </p>
  }
</section>
