<section class="about" id="about">
  <div class="container about__inner">
    <div class="about__tags" aria-label="Availability">
      <article class="tag tag--yellow">
        <img class="tag__paper" src="/img/paper/yellow.png" alt="" aria-hidden="true" />
        <span class="tag__inner">
          <img
            class="tag__icon"
            src="/img/icons/based-in-berlin.png"
            alt=""
            width="40"
            height="40"
            aria-hidden="true"
          />
          <span>{{ 'about.tag1' | translate }}</span>
        </span>
      </article>

      <article class="tag tag--blue">
        <img class="tag__paper" src="/img/paper/blue.png" alt="" aria-hidden="true" />
        <span class="tag__inner">
          <img
            class="tag__icon"
            src="/img/icons/open-to-relocate.png"
            alt=""
            width="40"
            height="40"
            aria-hidden="true"
          />
          <span>{{ 'about.tag2' | translate }}</span>
        </span>
      </article>

      <article class="tag tag--orange">
        <img class="tag__paper" src="/img/paper/orange.png" alt="" aria-hidden="true" />
        <span class="tag__inner">
          <img
            class="tag__icon"
            src="/img/icons/open-to-work-remote.png"
            alt=""
            width="40"
            height="40"
            aria-hidden="true"
          />
          <span>{{ 'about.tag3' | translate }}</span>
        </span>
      </article>
    </div>

    <div class="about__content">
      <p class="about__eyebrow">{{ 'about.eyebrow' | translate }}</p>
      <h2 class="about__title">{{ 'about.title' | translate }}</h2>
      <img
        class="about__underline"
        src="/img/lines/about-underline.png"
        alt=""
        width="320"
        height="40"
        aria-hidden="true"
      />
      <div class="about__copy">
        <p>{{ 'about.text' | translate }}</p>
        <p>{{ 'about.collab' | translate }}</p>
      </div>
      <a class="about__more" href="#contact">{{ 'about.readMore' | translate }}</a>
    </div>
  </div>

</section>
